body{
    margin: 0;
    padding: 0;
}
 header {
  width: 100%;
  background-color: red;
} 
.title-container{
  width:100% ;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.title-container h3{
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 100;
  font-size: .9rem;
  color: rgb(94, 92, 92);
}
.title-container h1{
  margin-bottom:0 ;

}
.logo-container{
    margin: 0;
    padding: 0;
    margin: 0;
    display: flex;
    /* background-image: linear-gradient(to right bottom, #ffcc00, #e0d500, #bade00, #8ae500, #3aeb12); */
    background-color: rgb(162, 243, 230);
  box-shadow: 5px 5px 5px rgb(168, 164, 164);
  width: 100%;
}
.spacer{
  width: 15%;
}
.logo-container h1{

text-align: center;
text-transform: capitalize;
font-size: 3rem;
font-weight: 500;
color: rgba(68, 63, 63, 0.692);
}

.logo{
    width: 15%;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  nav ul{
  margin: 0;
  padding: 1rem;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    justify-content: flex-end;
    font-size: 1em;
    font-weight: 700;
    color: white;
  }
  nav ul li{
    background-color:rgb(83, 78, 78) ;
    padding: 1rem;
    list-style: none;
    border-radius: .5rem;
    /* border: 1px solid rgb(146, 138, 138); */
    box-shadow: 5px 3px 5px rgb(173, 166, 166);
    cursor: pointer;
    margin-left: .7rem;
}
#title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 
}

/* sale section */
#sale-section{
  width: 90%;
}


/*slide show */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
    
  position: relative;
  margin: auto;
}
.image-slide {
  vertical-align: middle;
  /* height: 720px; */
  width: auto;
  }
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



#footer{
  width: 100%;
  height: 20vh;
  background-color: #777;
}
@media (max-width:400px){
 #title {
    font-size: 1.3rem;
 }
 .title-container h3{
   font-size: .5rem;
 }

 
}
@media(max-width:600px){
  .logo{
    width: 18%;
  }
}



.backdrop{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}
.backdrop.visible{
  display: block;
  pointer-events: all;
}
.modal-container{
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 80%;
  top: 30vh;
  left: 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
}
.modal-container p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  text-transform: capitalize;
}
.modal-container.visible{
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

/* footer */
#footer{
  display: flex;
  justify-content: space-between;
}
#footer p{
  font-size: 1.3rem;
}

#footer ul{
  list-style: none;
}
#footer ul li{
  font-size: .8rem;
}
@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}

@media(max-width:600px){
  #footer{
    width: 100%;
    height: auto;
    display: block;
  }
  .slideshow-container{
    max-width: 80%;
  }
  .image-slide{
    width: 100%;
  }
}